html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}

* {cursor:none}

.barrier path {
  stroke-width: 2;
  stroke-linejoin: round;
}

.hud-background {
  stroke: none;
  fill: white;
  fill-opacity: 0.8;      
}

.hud-foreground {
  stroke: black;
  stroke-linejoin: round;
  stroke-linecap: round;
  fill: none;
}